## Brown Bag #1: Introduction to Python (SOLUTIONS)

This Brown Bag will provide the basic programming fundamentals (specifically in Python) to all skill levels. This will be the first step in our Innovation Friday Brown Bag series, where we will apply these fundamentals to build a toolkit to succeed in data science.

## Outline

1. What is Python, and why should I care?

1. What is programming?

1. Intro. to Google Colab

1. Intro. to Python Fundamentals

1. Local Python Installation with Conda (Time Permitting)

## Introduction to Programming

### What does a computer do?

1. Executes commands in sequence
1. Each command operates on the current state of the machine

**Remember:** Computers are _dumb_

![alt text](https://imgs.xkcd.com/comics/ai_research_2x.png)

### What does code do?

Code is nothing more than a stored sequence of commands carried out by the computer. Often times, if a piece of code is broken, it is most likely your fault.

## Standalone Python Topics

### Functions

We will start by introducing two fundamental functions in Python:
1. `print()`
1. `help()`

#### Print Function
As the name implies, this function prints whatever you tell it to. For example,

In [1]:
print('Hello World')
print(5)

Hello World
5

`print()` can take multiple parameters:

In [2]:
print('Hello', 'World')
# print(4, 2, sep='*')

Hello World

#### Exercise
Use the print function to print your name and age

**Solution:**

In [3]:
print('your name and age')

your name and age

#### Help Function
This function will tell how how to use a certain function, and what parameters it takes.

In [4]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

#### Exercise

There are many built-in functions available in Python 3.6, for a list see [here.](https://docs.python.org/2/library/functions.html)

Use the help function to check the following built in functions:
1. `list`
1. `sum`
1. `min`

**Solution:**

In [5]:
# Number 1
help(list())

# Number 2
help(sum)

# Number 3
help(min)

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Stable sort *IN PLACE*.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

Help on built-in function sum in module builtins:

sum(iterable, start=0, /)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

Help on built-in function min in module builtins:

min(...)
    min(iterable, *[, default=obj, key=func]) -> value
    min(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its smallest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the smallest argument.

### Data Types Part 1

There are various data types, a few common examples are:

1. `int` : integer
1. `float` : floating point (decimal number)
1. `str` : string (text)
1. `bool` : boolean (i.e. True/False)

For example:

In [6]:
MY_INTEGER = 2
MY_FLOAT = 3.1415
MY_STRING = 'apple'
MY_BOOLEAN = True

We can also check the `type` of variables:

In [7]:
print(type(MY_INTEGER))
print(type(MY_FLOAT))
print(type(MY_STRING))
print(type(MY_BOOLEAN))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

Another useful feature is _type casting_

In [8]:
print(float(MY_INTEGER))
print(int(MY_FLOAT))
print(bool(MY_INTEGER))

2.0
3
True

#### Exercise
1. Does int() correctly round floats?
1. What are the numerical equivalents of booleans?
1. What strings can you successfully cast into ints, floats, and booleans?

**Solution:**

In [9]:
# Number 1
print(int(3.1415))
print(int(2.99))

# Number 2
print(float(True))
print(float(False))

# Number 3
print(float('5'))
print(float('inf'))
print(bool(6))

3
2
1.0
0.0
5.0
inf
True

#### Note on Naming Schemes

1. May consist of letters, numbers, and underscores
1. Cannot start with a number
1. Is case sensitive

For example, the following line returns an error, why?

In [10]:
5_FIVE = 5
print(5_FIVE)

SyntaxError: invalid token (<ipython-input-10-603d8ca9dc7d>, line 1)

It is also a good idea to chose variable names that are useful, for example, `blah = 3.14`, isn't particularly useful. Perhaps `pi = 3.14` is a better choice.

## Basic Math

Python is a very valuable tool for evaluating mathematical expressions. Here are some basic mathmatical operations you can peform in Python.

In [ ]:
A = 2
B = 4.5
C = "apple"

print(A+B)
print(A-B)
print(A*B)
print(A/B)
print(C+str(A))

### Exercise
1. What do the following operators do?
    - `**`
    - `//`
    - `%`
1. What combinations of data types work and don't work?
1. Did you find anything you didn't expect?

**Solution:**

In [ ]:
# Number 1
print(3**3)
print(20*'==')
print(10//3)
print(20*'==')
print(10%3)

# Number 2
print(3**'apple')

# Number 3
print(20*'==')

### Conditionals

#### Conditionals with Math

In [ ]:
print(3 == 3)
print(3 > 5)
print(3 < 5)
print(1 <= 2)
print(2 >= 1)
print(2 != 1)

In [ ]:
A = 5/3
B = 1 + 2/3
print(A == B)
print(A)
print(B)

In [ ]:
print("apple" == "banana")
print(len("apple") == 5)
print("b" in "banana")
print("q" in "apple")

### Functions

In [ ]:
def my_first_function():
    print('I made my first function!')
    
my_first_function()

We can also introduce parameters into our functions.

In [ ]:
def newton_force(mass, accel=9.81):
    return mass * accel

force = newton_force(mass=100)

print(force, '[N]')

force2 = newton_force(accel=100, mass=100)

print(force2, '[N]')

#### Exercise
Create a function which returns the hypotenuse of a right triangle. Recall: $c^2 = a^2 + b^2$. $c = \sqrt{a^2 + b^2}$

**Solution:**

In [ ]:
def hypot(a, b):
    """Put Your Code Here"""
    return (a**2 + b**2)**0.5

In [ ]:
hypot(3, 4)

### Flow Control

#### If Statements

In [ ]:
def do_it(a, b):
    if a == b:
        print("Yes")
    elif b > a:
        print("No")
    elif b < a:
        print("This other thing!")
    else:
        print("I give up")

do_it(3, 3)
do_it(10, 100)
do_it(0.1, 0)

#### While Loops

In [ ]:
A = 5
B = 1

while A > B:
    print('{} is greater than {}'.format(A,B))
    print(f"{A} is greater than {B}")
    B += 1  # equivalent to B = B + 1

### Data Types Part 2 - Electric Boogaloo

#### Lists

In [ ]:
my_list = [
    "apple", 
    "banana", 
    "shark", 
    15
]
print(my_list)

#### Adding and Removing Elements

In [ ]:
my_list.append("ballistic missile")
print(my_list)

In [ ]:
my_list.remove("banana")
print(my_list)

#### List Indexing and Slicing

In [ ]:
print(my_list[0])
print(my_list[3])
print(my_list[1:3])
print(my_list[-1])

#### Exercise

Create a function which takes a list as a parameter and an integer, n. Return the n-th entry of the list.

**Solution:**

In [ ]:
def nth_entry(a_list, n):
    """Your Code Here"""
    return a_list[n]
    
nth_entry(my_list, -1)

#### Multi-Dimensional Arrays

In [ ]:
array_2d = [[0,1,2,3], [2,5,3,2], [6,3,1,7]]
print(array_2d)

In [ ]:
print(array_2d[0])
print(array_2d[1][0:2])
print(array_2d[0:2])
print(array_2d[-1][-1])

### Flow Control Part 2 - Back 2 Tha Hood

In [ ]:
for item in my_list:
    print(item)

In [ ]:
my_list_2 = [1,2,3,4,5,6]

for item in my_list_2:
    print(item**2 + 3.8*item + 5.1)

In [ ]:
for item in my_list_2:
    if item > 3:
        print(item, "True")
    else:
        print(item, "False")

**`range()`** function

In [ ]:
my_range = range(len(my_list))
for i in my_range:
    print('{}: {}'.format(i, my_list[i]))

#### List Comprehension

In [ ]:
my_list_3 = [i**2 for i in my_list_2]
print(my_list_3)

#### Exercise
Define a function that uses a for loop to draw the following pattern (out to the n-th line with n asterisks). <br>
\* <br>
\*\* <br>
\*\*\* <br>
\*\*\*\* <br>
\*\*\*\*\* <br>
...

**Solution:**

In [ ]:
list(range(5))

In [ ]:
def star_tree(n):
    """Your Code Here"""
    for i in range(n):
        print('*'*(i+1))

In [ ]:
star_tree(n=5)

#### Exercise

**Classic Challenge** : Fizz Buzz

Given a list of integers from 1 to 50. 
- Print "Fizz" if the integer is divisible by 3.
    - i.e. 3, 6, 9
- Print "Buzz" if the integer is divisible by 5. 
    - i.e. 5, 10, 15
- Print "FizzBuzz" if the integer is divisible by 3 AND 5.
    - i.e. 15, 30,  45
    
Challenge: Do it in as few lines as possible!

**Solution:**

In [ ]:
for num in range(1, 50): 
    print(num, "Fizz"*(num%3 == 0) + "Buzz"*(num%5 == 0))

## Modules

### Numpy

In [ ]:
import numpy as np  # load in the library and alias it as np, for short

#### Arrays

In [ ]:
arr1 = np.arange(0, 100, 5)
print(arr1)

arr2 = np.linspace(0, 100, 9)
print(arr2)

arr3 = np.random.randint(0, 100, 100)
print(arr3)

### Matplotlib

In [ ]:
import matplotlib.pyplot as plt  # import the pyplot module apart of matplotlib, and alias as plt

#### Scatter Plot

In [ ]:
plt.scatter(arr1, arr1**2 + 10.0)
plt.show()

#### Line Plot

In [ ]:
x = np.linspace(0, 10, 100)

fig = plt.figure()
plt.plot(x, np.sin(x), ':', color='orange')
plt.plot(x, np.cos(x), '--');

#### Pie Chart

In [ ]:
plt.figure(figsize=(12,5))
plt.subplot(1,2,1)
plt.pie([10, 20, 30, 40], explode=[0.5,0,0.1,0])
plt.subplot(1,2,2)
plt.hist(np.random.normal(0, 10, 999999), color='purple')
plt.show()

In [ ]:
from mpl_toolkits.mplot3d import Axes3D
import matplotlib.pyplot as plt
from matplotlib import cm
from matplotlib.ticker import LinearLocator, FormatStrFormatter
import numpy as np


fig = plt.figure(figsize=(16,9))
ax = fig.gca(projection='3d')

# Make data.
X = np.arange(-5, 5, 0.25)
Y = np.arange(-5, 5, 0.25)
X, Y = np.meshgrid(X, Y)
R = np.sqrt(X**2 + Y**2)
Z = np.sin(R)

# Plot the surface.
surf = ax.plot_surface(X, Y, Z, cmap=cm.coolwarm,
                       linewidth=0, antialiased=False)

# Customize the z axis.
ax.set_zlim(-1.01, 1.01)
ax.zaxis.set_major_locator(LinearLocator(10))
ax.zaxis.set_major_formatter(FormatStrFormatter('%.02f'))

# Add a color bar which maps values to colors.
fig.colorbar(surf, shrink=0.5, aspect=5)

plt.show()

#### Exercise

Plot following function on the domain of \[-2, 2\]:

$$y= f(x) = \left(\sqrt{\cos(x)}\cdot\cos(200\cdot x)+\sqrt{|x|}-0.7\right)\cdot(4-x^2)^{0.01}$$

**Solution:**

In [ ]:
# Your Code Here
x = np.arange(-2, 2, 0.001)
y = (np.sqrt(np.cos(x))*np.cos(200*x)+np.sqrt(np.abs(x))-0.7)*(4-x*x)**(0.01)

plt.plot(x, y, color='r')